{{!-- //This layout holds the UI design for navigation bar of dashboard --}}

<div class="hero">
    <nav>
        <img src="/images/musiclogo.jfif" class="logo">
        <h1 class="music">Random Music Generator</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <img src="/images/sample profile pic.jpg" class="user-pic" onclick="togglefunction()">
        <div class="sub-menu-wrap" id="sub-menu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="/images/sample profile pic.jpg">
                    {{ username }}
                </div>
                <hr>
                <a href="/logout" class="sub-menu-link">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
</div>