{{!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/playlists">Saved Playlists</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav> --}}

<div class="hero">
    <nav>
        <img src="/images/musiclogo.jfif" class="logo">
        <h1>Random Music Generator</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="./SavedPlaylist.html">Saved Playlists</a></li>
        </ul>
        <img src="/images/sample profile pic.jpg" class="user-pic" onclick="togglefunction()">
        <div class="sub-menu-wrap" id="sub-menu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="sample profile pic.jpg">
                    <h2>John Doe</h2>
                </div>
                <hr>
                <a href="#" class="sub-menu-link">
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="/logout" class="sub-menu-link">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
</div>