{{!-- //This layout holds the UI design for dashboard where the user can generate the playlists --}}
<div class="music-search-container">
    <h2>Search Music By Filters</h2>
    <hr>
    <div class="filter-wrapper">
        <button id="artist">Artist</button>
        <input type="text" id="input-one" placeholder="Please enter an artist">
    </div>
    <div class="filter-wrapper">
        <button id="genre">Genre</button>
        <input type="genre" id="input-two" placeholder="Please enter a genre">
    </div>
    {{!-- <div class="filter-wrapper">
        <button id="decade">Decade</button>
        <input type="decade" id="input-three" placeholder="Please enter a decade">
    </div>
    <div class="filter-wrapper">
        <button id="year">Year</button>
        <input type="year" id="input-four" placeholder="Please enter a year">
    </div>
    <h2>How many Songs Would You Like in Your Playlist?</h2>
    <hr>
    <div class="filter-wrapper">
        <button id="number">Number of Songs</button>
        <input type="genre" id="input-five" placeholder="Please enter a number">
    </div> --}}
</div>

<div class="hero">

    <h3>Results</h3>

    <ul id="results">

    </ul>
</div>

<script type="text/javascript" src="/js/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
