{{!-- //This layout holds the UI design for dashboard where the user can generate the playlists --}}
<div class="music-search-container">
    <h2>Search Music By Filters</h2>
    <hr>
    <div class="filter-wrapper">
        <button id="artist">Artist</button>
        <input type="text" id="input-one" placeholder="Please enter an artist">
    </div>
    <div class="filter-wrapper">
        <button id="genre">Genre</button>
        <input type="genre" id="input-two" placeholder="Please enter a genre">
    </div>
</div>

<div class="hero">
  <h3>Results</h3>
  <ul id="results">
    <li>
    </li>
  </ul>
</div>

<script type="text/javascript" src="/js/search.js"></script>

