<head>
  <meta charset="UTF-8">
  <title>Random playlist Generator</title>
  <link rel="stylesheet" href="/css/jass.css">  
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    <header class="">
      <h1>
        Random Playlist Generator
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>