{{!-- //This layout holds the About part of navigation --}}
<div class="about-container">
  <h1>About Us</h1>
  <p>We are a music streaming service dedicated to providing the best listening experience for our users. Our mission is to connect music lovers with their favourite artists and help them discover new music.</p>
</div>