<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login or Signup</title>
  </head>
  <body>
    <div class="login-container">
      {{> login}}
    </div>
    <div class="signup-container">
      {{> signup}}
    </div>
  </body>
</html>
