<div class="login-container">
  <h2>Login</h2>
  <hr>
  <div class="login-wrapper">
    <div id="email">Email:</div>
    <input type="text" id="email-input" placeholder="Please enter your email">
  </div>
  <div class="login-wrapper">
    <div id="password">Password:

    </div><input type="text" id="password-input" placeholder="Please enter your password">
  </div>
  <div>
      <button type="submit" class="login-form">Login</button>
    </div>
</div>

<div class="signup-container">
  <h2>Sign Up</h2>
  <hr>
  <div class="signup-wrapper">
    <div id="name">Name:</div>
    <input type="text" id="name-input name-signup" placeholder="Please enter your name">
  </div>
  <div class="signup-wrapper">
    <div id="email">Email:</div>
    <input type="text" id="signupemail-input email-login" placeholder="Please enter your email">
  </div>
  <div class="signup-wrapper">
    <div id="signuppassword">Password:

    </div><input type="text" id="signuppassword-input password-login" placeholder="Please enter your password">
  </div>
  <div>
      <button type="submit" class="signup-form">Sign up</button>
    </div>
</div>