<h2>Login Page</h2>

<div class="login-container">
        <h2>Login</h2>
        <hr>
        <div class="login-wrapper">
            <div id="email">Email:</div>
            <input type="text" id="email-input" placeholder="Please enter your email">
        </div>
        <div class="login-wrapper">
            <div id="password">Password:

            </div><input type="text" id="password-input" placeholder="Please enter your password">
        </div>
    </div>
    <div class="signup-container">
        <h2>Sign Up</h2>
        <hr>
        <div class="signup-wrapper">
            <div id="name">Name:</div>
            <input type="text" id="name-input" placeholder="Please enter your name">
        </div>
        <div class="signup-wrapper">
            <div id="email">Email:</div>
            <input type="text" id="signupemail-input" placeholder="Please enter your email">
        </div>
        <div class="signup-wrapper">
            <div id="signuppassword">Password:

            </div><input type="text" id="signuppassword-input" placeholder="Please enter your password">
        </div>
    </div>