<div class="about-container">
    <header>View Your saved playlists here!</header>
    <div class="card">
        <div class="card-body">
            Playlist 1:
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            Playlist 2:
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            Playlist 3:
        </div>
    </div>
</div>