<div>
  <div>
    <h2>Create an account</h2>
  </div>
  <form>
    <div>
      <label for="email-signup">Email</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <label for="confirm-password-signup">Confirm Password</label>
      <input type="password" id="confirm-password-signup" />
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>
