* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    /* color: #e3e3e3; */
    font-size: 36px;
    text-align: center;

}

.username {
    color: purple;
    font-size: 29px;
    font-weight: bolder;
    padding-left: 61px;
}


.error {
    color: white;
}

body {
    background: #d6b4fc;
}

.hero {
    font-family: 'Playfair Display', serif;
    width: 100%;
    color: #525252;
    text-align: center;
}

.music {
    color: #e3e3e3;
    font-size: 50px; /* set a default font size */
    font-family: 'Playfair Display', serif;
  }

.user-pic {
    width: 40px;
    clip-path: circle();
    cursor: pointer;

}

.logo {
    width: 70px;
    margin-left: 10px;
}

nav {
    background: linear-gradient(326deg, #a4508b 0%, #9c5abb 74%);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

nav ul {
    text-align: right;
    margin-right: -5em;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;

    text-underline-position: under;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
}

.sub-menu-opened {
    max-height: 350px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    clip-path: circle();
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link span {
    font-size: 22px;
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(135deg, #f403d1, #64b5f6);
    padding: 3.1em 1.8em;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.7), 15px 15px 15px rgba(0, 0, 0, 0.7);
    margin-top: 5%;

}

.music-search-container {
    flex: 1 1 auto;
    margin-right: 5em;
}

.music-results-container {
    flex: 1 1 auto;
    margin-left: 5em;
}

#artist,
#genre,
#decade,
#year,
#number {
    cursor: pointer;
    font-size: 20px;
}

#artist:hover,
#genre:hover,
#decade:hover,
#year:hover,
#number:hover {
    background-color: rgb(211, 211, 211);
}

.filter-wrapper,
.login-wrapper,
.signup-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    gap: 20px;
    padding: 10px;
}

.music-search-container h2 {
    font-size: 40px;
    margin: auto;
    text-align: center;
}

#hide {
    display: none;
}

#visible {
    display: visible;
}


.login-container {
    display: inline-block;
    width: 45%;
    height: auto;
    padding: 20px;
    margin: 50px;
    background: linear-gradient(135deg, #f403d1, #64b5f6);
    border-radius: 10px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.7), 15px 15px 15px rgba(0, 0, 0, 0.7);
    vertical-align: top;
}

.signup-container {
    display: inline-block;
    width: 45%;
    height: auto;
    padding: 20px;
    margin: 50px;
    background: linear-gradient(135deg, #f403d1, #64b5f6);
    border-radius: 10px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.7), 15px 15px 15px rgba(0, 0, 0, 0.7);
    vertical-align: top;
}

.login-wrapper,
.signup-wrapper {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#email,
#password,
#name,
#signuppassword {
    width: 100px;
}

#genre,
#decade,
#year,
#artist,
#number {
    width: 170px;
    height: 50px;
    border-radius: 10px;

}

#email-input,
#password-input,
#name-input,
#signuppassword-input {
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button.login-form,
button.signup-form {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.login-form:hover,
button.signup-form:hover {
    background-color: #3e8e41;
}

#input-one,
#input-two,
#input-three,
#input-four,
#input-five {
    text-align: center;
    font-size: 20px;
}

.login-container h2,
.signup-container h2 {
    font-size: 40px;

}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.about-container p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    max-width: 800px;
}


.card {
    padding: 20px;
}

.text-container {
    position: fixed;
    top: 14%;
}

@media only screen and (max-width: 1070px) {
    h1 {
        font-size: 25px;
    }

    .username {
        font-size: 25px;
    }

    .music {
        font-size: 40px; /* set a default font size */
      }

      nav ul {
        margin-right: -1em;
    }

}

@media only screen and (max-width: 768px) {
    .container-wrapper {
        padding: 2em 1em;
    }

    .music-search-container {
        margin-right: 0;
        margin-bottom: 2em;
    }

    .music-search-container h2 {
        font-size: 35px;
    }

    .music {
        font-size: 20px; 
      }

    #artist,
    #genre,
    #decade,
    #year,
    #number {
        cursor: pointer;
        font-size: 15px;
    }

    .music-results-container {
        margin-left: 0;
    }

    .filter-wrapper,
    .login-wrapper,
    .signup-wrapper {
        grid-template-columns: auto;
    }

    .login-container,
    .signup-container {
        width: 100%;
        margin: 20px 0;
    }

    .sub-menu-wrap {
        right: 0%;
        width: 100%;
    }

    nav ul li {
        margin: 10px 10px;
    }

    h1 {
        font-size: 20px;
    }

    .username {
        display: none;
    }
}